/* 主要區塊 */
#tm_main {
    display: block;
    padding-top: 2px;
}

/* 主要按鈕群 */

.tm_time_display {
    font-size: 109%;
    display: inline-block;
    vertical-align: top;
    padding: 0 5px;
    white-space: nowrap;
    line-height: 47px;
}

button.tm_button {
    display: inline-block;
    background-color: #fff0;
    color: #FFF;
    cursor: pointer;
    height: 48px;
    width: 48px;
    font-size: 18px;
    border: none;
    outline: none;
    user-select: none;
    opacity: 0.9;
    white-space: nowrap;
    padding: 0px;
    padding-left: 2px;
    padding-right: 2px;
}

button.tm_button:hover {
    opacity: 1;
}

.tm_button>svg {
    max-width: 24px;
    max-height: 24px;
}

[data-title] {
    font-size: 30px;
    position: relative;
}

:not(.tm_repeat_more_open)[data-title]:hover::before {
    content: attr(data-title);
    position: absolute;
    bottom: 65px;
    transform: translateX(-25%);
    display: inline-block;
    padding: 4px 8px;
    border-radius: 2px;
    background: #222;
    color: #fff;
    font-size: 12px;
    font-family: sans-serif;
    white-space: nowrap;
}

/* 更多選項區塊 */
.tm_popup {
    position: absolute;
    bottom: 61px;
    width: 267px;
    border-radius: 12px;
    background-color: rgba(34, 34, 34, 0.9);
    color: #fff;
    font-size: 12px;
    z-index: 60;
    padding-top: 8px;
    padding-bottom: 8px;
}

.tm_more_contain {
    display: flex;
    align-items: center;
    user-select: none;
    height: 40px;
}

.tm_more_contain_icon {
    display: flex;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    height: 40px;
    width: 24px;
}

.tm_more_contain_icon>svg {
    pointer-events: none;
    display: block;
    height: 60%;
}

.tm_more_contain_label {
    padding-right: 15px;
}

.tm_more_contain_content {
    text-align: right;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 150px;
}

.tm_more_contain_content>input {
    max-width: 150px;
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    border-bottom: 2px solid white;
}

.tm_more_contain:hover {
    background-color: #5559;
}

/* 更多按鈕 - 細項（通用） */
[id^="tm_more_"]>span {
    font-size: 14px;
}

/* 更多按鈕 - 複製連結 */
#tm_more_copy_share:hover {
    cursor: pointer;
}

.slidein-message {
    position: fixed;
    top: 0;
    left: 50%;
    font-size: 20px;
    transform: translateX(-50%);
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px;
    border-radius: 15px;
    animation: top-message-slidein 0.5s, top-message-fadeout 1s forwards 0.5s;
    z-index: 9999;
}

.success-message {
    background-color: rgba(0, 255, 0, 0.5);
}

.error-message {
    background-color: rgba(255, 0, 0, 0.5);
}

@keyframes top-message-slidein {
    from {
        top: -100px;
    }

    to {
        top: 0;
    }
}

@keyframes top-message-fadeout {
    0% {
        opacity: 0.8;
    }

    100% {
        opacity: 0;
    }
}